@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Orbitron:wght@400..900&display=swap');


@layer base {
	:root {
		--color-primary: 255 255 255;
		--color-primary-bg: 255 255 255;
		--color-secondary: 0 0 0;
		--color-secondary-bg: 0 0 0;
		--color-page: 0 0 0;
		--color-border: 51 51 51;
	
		--screen-sm: '640px';
		--screen-md: '768px';
		--screen-lg: '1024px';
		--screen-xl: '1280px';
		--screen-2xl: '1536px';
	}
	html {
		// scroll-behavior: smooth;
	}
	body {
		@apply bg-page;
		@apply text-primary;
		font-family:
			'Inter',
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			'Segoe UI',
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			'Open Sans',
			'Helvetica Neue',
			sans-serif;
	}
	

}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-black mb-2 mt-6 break-words flex flex-row scroll-m-20 ;
	a {
		@apply relative text-[1em] hidden;
	}
	.head-link-icon {
		@apply fill-primary h-full w-[0.75em] absolute -right-[0.9375em] align-middle;
	}
}


h1 {
	@apply text-5xl;
	@apply mb-4;
}
h2 {
	@apply text-4xl;
}
h3 {
	@apply text-2xl;
}
h4 {
	@apply text-xl;
}
h5 {
	@apply text-base;
}
h6 {
	@apply text-sm;
}
ul {
	@apply list-disc list-inside;
}
ol {
	@apply list-decimal list-inside;
}
strong {
	@apply font-black;
}
code {
	@apply bg-border w-full p-2 my-2 block;
	color: rgb(104, 117, 149)
}


// .banner {
// 	@apply my-8;
// 	@apply text-secondary;
//     @apply bg-secondary-bg;
//     @apply relative
//     &::before {

//     }
// }

@layer utilities {
	.center-content {
		@apply px-3 lg:w-[1024px] lg:mx-auto;
	}
	.row {
		@apply flex flex-col items-center gap-4;
		& > * {
			@apply flex-1;
		}
	}
}

// .banner {
// 	margin: 2rem 0;
// 	background-color: #ffffff;
// 	color: #000000;
// 	position: relative;
// }
// .banner:before {
// 	content: '';
// 	background-color: #ffffff;
// 	position: absolute;
// 	height: 100%;
// 	width: 40000px;
// 	left: -20000px;
// 	z-index: -1;
// }

hr {
	@apply my-4;
}

.row {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	> * {
		flex: 1 1 0px;
		@apply sm:w-0;
	}
	@media (min-width: 640px) {
		flex-direction: row;
	}
}

img {
	width: 100%;
	height: auto;
	@apply w-full h-auto object-cover p-2;
}

main p {
	&:has(> img.shadow) {
		box-shadow: inset 0 0 40px 40px #000000;
	}
	img {
		position: relative;
		z-index: -1;
	}
}

button,
a.button {
	color: #000000;
	background-color: #ffffff;
	padding: 1.125rem 4rem;
	text-align: center;
	font-weight: 900;
	text-decoration: none;
	display: inline-block;
	&:hover {
		// background-color: ;
	}
}
