@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: 255 255 255;
	--color-primary-bg: 255 255 255;
	--color-secondary: 0 0 0;
	--color-secondary-bg: 0 0 0;
	--color-page: 0 0 0;
	--color-border: 51 51 51;
}
body {
	@apply bg-page;
	@apply text-primary;
	font-family:
		'Inter',
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-black;
	@apply mt-6;
	@apply mb-2;
}
h1 {
	@apply text-5xl;
	@apply mb-4;
}
h2 {
	@apply text-4xl;
}
h3 {
	@apply text-2xl;
}
h4 {
	@apply text-xl;
}
h5 {
	@apply text-base;
}
h6 {
	@apply text-sm;
}
ul {
	@apply list-disc list-inside;
}
ol {
	@apply list-decimal list-inside;
}
strong {
	@apply font-black;
}

.row {
	@apply flex flex-col items-center gap-4;
	& > * {
		@apply flex-1;
	}
}

// .banner {
// 	@apply my-8;
// 	@apply text-secondary;
//     @apply bg-secondary-bg;
//     @apply relative
//     &::before {

//     }
// }

.center-content {
	@apply mx-3 lg:w-[1024px] lg:mx-auto;
}

// .banner {
// 	margin: 2rem 0;
// 	background-color: #ffffff;
// 	color: #000000;
// 	position: relative;
// }
// .banner:before {
// 	content: '';
// 	background-color: #ffffff;
// 	position: absolute;
// 	height: 100%;
// 	width: 40000px;
// 	left: -20000px;
// 	z-index: -1;
// }

.row {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	> * {
		flex: 1 1 0px;
	}
	@media (min-width: 640px) {
		flex-direction: row;
	}
}

img {
	width: 100%;
	height: auto;
}

main p {
	&:has(> img) {
		box-shadow: inset 0 0 40px 40px #000000;
	}
	img {
		position: relative;
		z-index: -1;
	}
}

button,
a.button {
	color: #000000;
	background-color: #ffffff;
	padding: 1.125rem 4rem;
	text-align: center;
	font-weight: 900;
	text-decoration: none;
	display: inline-block;
}
